*{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.container{
    text-align: center;
}

.titulo1{

}

.titulo2{

}

.m-formulario{

}

#escolha1{

}

#escolha2{

}

#texto-denuncia{

}

#botao{

}

#botao-voltar{

}

#botao-avançar{
    
}

#caixa-mensagem{

}

.contato{

}